*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
 
}
html, body { 
    scroll-behavior: smooth
  }

body{
    
    overflow-x:hidden;
}

header{
    display: block;
    height: 100px;
    width: 100vw;
    align-items: center;
    background-color: rgb(224, 224, 224);
}

header .menuitem{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: rgb(224, 224, 224);
}

header .menu li{
    left: 15%;
    position: relative;
    padding: 0 15px;
    font-size: 22px;
    color: rgb(14, 62, 40);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    
}
header  ul>img{
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 8%;
    height: 6rem;
}
header .menu li:hover{
    transform: scale(1.1);
}
.menu a, .menu a:visited,.menu a:active, .menu a:link{
    color:  rgb(14, 62, 40);
    text-decoration: none;
}
.carousel.slide{
    height: 100%;
    width: 100vw;
}


.carousel-caption.d-none.d-md-block{
    bottom: 30%;
}
.carousel-caption.d-none.d-md-block h2{
    font-size: 80px;
    padding-bottom: 5px;
    text-shadow: 
    0 0 51px rgb(0, 0, 0),
    0 0 81px rgb(0, 0, 0);
}
.carousel-caption.d-none.d-md-block button{
    border: none;
    border-radius: 20px;
    width: 16rem;
    height: 4rem;
    font-size: 20px;
    background-color: rgba(14, 62, 40, 0.651);
    color: white;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.carousel-caption.d-none.d-md-block button:hover{
    transform: scale(1.05);
}
.about{
    height: auto;
    width: 100vw;
    display: block;
    padding-top: 50px;
    background-image: url(acets/fundo.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.container-text{
    display: flex;
    height: 600px;
    width: 1200px;
    margin: 60px auto;
    justify-content: space-around;
}
.text{
    display: block;
    width: 400px;
    margin-top: 40px;
    
}
.text h2{
    padding-bottom: 20px;
    border-top: 2px rgba(14, 62, 40, 0.651) solid;
}
.text p{
    font-size: 18px;
}
.container-text img{
    margin-top: 40px;
    padding-bottom: 20px;
    height: 500px;
    border-radius: 20px;
}
.container-text-full{
    display: flex;
    height: 500px;
    justify-content: space-around;
    width: 100vw;
    background-image:url(acets/etica.png) ;
    background-repeat:no-repeat;
    background-size: cover;
    align-items: center;
    background-attachment: fixed;
}
.text-full{
    display: block;
    text-align: center;
    height: 320px ;
    width: 600px;
    padding: 10px; 
    color: rgb(255, 255, 255);
    
}          

.text-full h2 , .text-full p{
    text-shadow: 
    0 0 51px rgb(0, 0, 0),
    0 0 81px rgb(0, 0, 0);
}
.services{
    width: 100vw;
    height: auto;
}
.services h2{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.mini-cards{
    margin: 0 auto;
    width: 960px;
    height: 620px;
    display: flex;
    flex-wrap: wrap;
}
.mini-cards .mini{
    list-style: none;
    height: 300px;
    width: 300px;
    margin: 0 auto;
}
.mini h4{
    padding-top: 20px;
}
.mini svg{
    cursor: pointer;
    transition: 0.2s ease-in-out;
    animation: pisca 3s infinite;
}
@keyframes pisca{
    0%{
        color: black;
    }
    
    50%{
        color:rgb(5, 201, 112);
    }
    100%{
        color: black;
    }
}

.mini svg:hover{
    transform: scale(1.1);
}
.cards{
    height: auto;
    width: 100vw;
    display: block;
}
.containercards{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: auto;
    width: 1200px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card {
   padding: 5px;
    border: none;
}
.titulo{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: 200px;
}
.card-img{
    height: 350px;
    width: auto;
   border: none;
   transition: 0.2s ease-in-out;
}
.card-img:hover{
    transform: scale(1.05);
    z-index: 99;
}

.time{
    width: 100vw;
    height: auto;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.time h2{
    padding-top:80px ;
    font-size: 40px;
}
.orgo{
    background-image: url(acets/fundotime.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.orgo .card{
    border: none;
    background: transparent;
    color: white;
    transition: 0.5s ease-in-out;
}
.orgo .card:hover{
    transform: scale(1.05);
    z-index: 99;
}
.card{
    height: 600px;
    width: 320px;
}
.timecard{
    display: flex;
    flex-wrap: wrap;
    width: 800px;

    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
footer{
    width: 100vw;
    height: auto;
    display: block;
}
.contato{
    min-height: 500px;
    background-color: rgba(14, 62, 40, 0.651);
    text-align: center;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
}
.textcontato{
    width: 400px;
    height: 400px;
    padding: 0 10px;
}
.textcontato a{
    
    cursor: pointer;
    transition: 0.2s ease-in-out;
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.textcontato a:visited,.textcontato a:link,
.textcontato a:active{
    color: white;
}
.textcontato a:hover{
    transform: scale(1.1);
}
form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    width: 380px;
    height: 400px;
    display: block;
}

form h2 {
    margin-bottom: 20px;
    margin-left: 20px;
    color: #ffffff;
    font-size: 14px;
}

input, select {
    width:350px;
    height: 50px;
    padding: 10px;
    color: black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #000066;
    background-color: #e0e0e0;
    color: black;
    font-weight: bold;
}

.enviar {
    background-color: rgba(14, 62, 40, 0.651);
    height: 50px;
    width: 350px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: rgb(255, 255, 255);
}

footer h2{
    text-align: center;
    padding-top:20px ;
    font-size: 40px;
}
.dev{
    height: 50px;
    width: 100vw;
    display: flex;
    background-color: black;
    list-style: none;
    text-decoration: none;
    justify-content: center;
}
.dev li, .dev a,.dev a:visited,.dev a:active,
.dev a:link{
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}
.dev li:hover,.dev a:hover{
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(255, 255, 255),
    0 0 82px rgb(255, 255, 255),
    0 0 92px rgb(255, 255, 255),
    0 0 102px rgb(255, 255, 255),
    0 0 151px rgb(255, 255, 255);
}
.dev h4{
    color: white;
    padding-right: 10px;
}
.dev>h4,.dev>li{
    padding-top: 20px;
    font-size: 15px;
    padding-right: 8px;
}
@media (max-width:1300px){
    .container-text{
        width: 800px;
    }
    .about{
        background-image: url(acets/fundo-mob.png);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    .container-text img{
        height: 350px;
    }
    .containercards{
        width: 1000px;
    }
}
@media (max-width:1150px){
    .menu  img{
        height: 4rem;
        left: 4%;
    }
    .carousel-caption.d-none.d-md-block h2{
        font-size: 60px;
    }
    .containercards{
        width: 800px;

    }
    .mini-cards{
        width: 800px;
        height: auto;
    }
}
.menu button{
    border: none;
    height: 40px;
    width: 40px;
    display:none ;
}
@media(max-width:850px){
    header{
        margin-top: -20px;
        position:sticky;
        top: 0px;
        z-index: 9999;
    }
    header img{
        top:10px ;
    }
    .carousel.slide{
       
    }
    .carousel-caption.d-none.d-md-block{
        bottom: -5%;
    }   
    .menu button{
        border: none;
        background-color: transparent;
        display: block;
        position:absolute;
        right: 120px;
        top: 20px;
    }
    .menu .menuitem {
        display:none;
        position: absolute;
        width: 100vw;
        text-align: center;
        align-items: center;
        font-size: 14px;
        padding-right: 180px;
        top: 80px;right: 0px;
        height: 180px;
        z-index: 999;
        color: rgb(14, 62, 40);
        background-color: rgb(224, 224, 224);
    }
    .menu .menuitem.active {
        display: flex;
    }
    .container-text{
        display: block;
        width: 100vw;
        height: auto;
        
    }    
    .about{
        background-image: none;
    }
    .container-text img{
        width: 100vw;
        height: auto;
    }
    .text-full{
        width: 100%;
    }
    
    form{
        margin: 0 auto;
        width: 300px;
    }
    .textcontato{
        margin: 0 auto;
        width: 300px;
        height: auto;
    }
    input,select,.enviar{
        width: 300px;
    }
    
    .container-text .text{
        margin: 0 auto;
    }
    .containercards{
        width:100vw;

    }
    .mini-cards{
        width: 320px;
        height: auto;
    }
    .time{
        display: block;
        width: 100vw;
        height: auto;
    }
    .time h2{
        font-size: 22px;
    }
    .card{
        margin: 0 auto;
    }
    .timecard{
        width: 400px;
        margin: 0 auto;
    }
    .time .card-group{
        display: block;
        flex-wrap: wrap;
        width: 100vw;
        padding: 0;
        margin: 0 ;
    }
    footer{
        height: auto;
    }
    footer .contato{
        display: block;
        margin: 0 auto;
        width: 100vw;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 890px;
    }
}  